
/* hmtl,body{
    overflow: hidden;
    scroll-behavior:
} */

html, body {margin: 0; height: 100%; overflow: hidden}

#side-bar {
    position: absolute;
    top: 0;
    height: 100%;
    width: 60px;
    background-color: rgb(6, 41, 55);
    z-index: 10;
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
}



#canvas-container {
    outline: 2px solid black;
    /* position: absolute;  */
    /* left: 60px; */
    /* width: calc(100%) */
    /* height: 100%; */
    /* margin-left: 60px; */
}

.canvas {
    position: absolute;
}

.side-bar-grid {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(10px, 70px);
    grid-column-gap: 10px;
}

#side-bar img {
    height: 20px;
    filter: invert(1);
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item:hover {
    background-color: rgb(10, 64, 86);
}

#download-div {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#download-div:hover {
    background-color: rgb(10, 64, 86);
}

#top-bar {
    position: absolute;
    top: 0;
    left: 60px;
    width: calc(100% - 60px);
    height: 60px;
    background-color: rgb(7, 68, 93);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}

@media (max-width: 780px) {
    #top-bar{
    display: none;
    }
}

#top-bar>div {
    margin: auto 2px;
    display: flex;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

#top-bar h2 {
    font-size: 0.9em;
    padding: 0 3px;
}

#top-bar img {
    filter: invert(1);
    height: 30px;
}

.line {
    max-width: 50px;
    color: white;
}

.dropdown {
    color: black;
}

#font-type {
    margin: auto 4px;
}


/* #font-type{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 60px;
    width: 60px;
} */

h1,
h2,
h3 {
    padding: 5px 10px;
    margin: auto;
}

input {
    max-height: 10px;
}

#text-input {
    padding: 0;
    margin: 0;
    border: 1px dashed black;
    display: inline-block;
}

#textarea {
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    width: 8px;
    height: 120px;
    padding: 0 4px;
}