html,
body {
    height: 100%;
}

#outer-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#inner-container {
    display: flex;
    flex-direction: column;
}

#toolbar {
    height: 150px;
    width: 700px;
    border: 1px solid black;
    border-bottom: 0;
    display: flex;
}

.shapes {
    display: flex;
    flex-direction: column;
}

#canvas-container {
    height: 400px;
    width: 700px;
    padding: 1px;
}

.canvas {
    position: absolute;
    border: 1px solid black;
}

#canvas-real{
    background-color: white;
}



input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 120px;
    padding: 0 4px;
}

textarea {
    border: 1px dashed black;
    background-color: transparent;
    padding:0;
    margin:0;
    position: relative;
}

#font-setting {
    align-self: flex-end;
}

#canvas-img{
    /* display: none; */
}
