html,
body {
    height: 100%;
}

#outer-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#inner-container {
    display: flex;
    flex-direction: column;
}

#toolbar {
    height: 150px;
    width: 700px;
    border: 1px solid black;
    border-bottom: 0;
    display: flex;
}

#canvas-container {
    border: 1px solid black;
}

.canvas {
    position: absolute;
    border: 1px solid black;
}




input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 120px;
    padding: 0 4px;
}


